/* Default Css */

*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{

    width: 20px;
}

/* Custom Variables */

:root{

    --primary: #322C2B;
    --secondary: white;
    --main-bg-color: rgb(151, 8, 8);
    --alternative: rgb(2, 2, 109); 
    --mainBoxShadow: grey;
    --awesome: pink;
    --borderColor: rgb(0, 130, 74);
    --elementShadow: .2vw .3vw .2vw #FFEBB2;
    --mainBg: gold;
    --bgImg: linear-gradient( to right, var(--awesome), var(--mainBg));
}


/* Allows you to use animations */

@property --top-left {

    syntax:"<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --top-right {

    syntax:"<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --bottom-left {

    syntax:"<percentage>";
    inherits: false;
    initial-value: 0%;
}

@property --bottom-right {

    syntax:"<percentage>";
    inherits: false;
    initial-value: 0%;
}

/*Nav-bar & Footer*/

:is( .navbar, footer ){

    background-color: var(--primary);
    
}

/*Nav-Bar*/

:is(.nav-link, footer) {
    color: var(--secondary); 
}


img[alt='logo'] {

    width: 5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border: solid 2px var(--secondary);
}

a {
    transition: all .5s;

    &:hover {
        transform: scale(1.2);
        text-decoration: line-through;
    }
}

/* Grid Layout */

:is(body){
    display:grid;
    text-align: center;
}

/*Create three rows*/
:is(body){
    grid-template-rows: auto minmax(100%, 100dvh) auto; /*Dynamic viewport height*/
}